<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209210387730-snjttrgbb80t16059h67bl9csb2mmkgj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209210387730-snjttrgbb80t16059h67bl9csb2mmkgj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>209210387730-7btf5natt32bn0vrlae0v9nagmfq8ggm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBhkbKQLxyiJL2ZoEfFkn__PfyJ3jx0D7E</string>
	<key>GCM_SENDER_ID</key>
	<string>209210387730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>studio.aleksandraweber.lesSocial</string>
	<key>PROJECT_ID</key>
	<string>les-social</string>
	<key>STORAGE_BUCKET</key>
	<string>les-social.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209210387730:ios:544c3f116b6c7db699d7cb</string>
</dict>
</plist>